body {
    padding: 0;
    margin: 0;
    --l: 3.5em;
}
html, body, #mapid {
    height: 100%;
    width: 100vw;
}

/* #mapid {
    height: calc(100vh - 100px);
} */

.leaflet-tooltip.my-labels {
    background-color: transparent;
    border: transparent;
    box-shadow: none;
}

.leaflet-control-container .leaflet-routing-container-hide {
    display: none;
}

.leaflet-container .leaflet-control-mouseposition {
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 5px #bbb;
    padding: 0 5px;
    margin:0;
    color: #333;
    font: 11px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
  }

.popup-marker > .leaflet-popup-tip-container{
    display: none;
}
.popup-marker .leaflet-popup-content{
    margin: 0px 10px;
}
.popup-marker > .leaflet-popup-content-wrapper{
    background: #333;
    color: #fff;
    padding: -5px;
}

.mdi {
    /* position: relative;
    top: -12px;
    left: -6px; */
    color: #fff;
}

.control-enabled > a {
    background: #fff;
}

.control-enabled .mdi {
    color: #000;
}

/* for leaflet zoom control */

.leaflet-touch .leaflet-bar {
    border: none;
}

.leaflet-touch .leaflet-bar a {
    width: 20px;
    height: 20px;
    line-height: 19px;
    background: #000;
    color: #fff;
}

.leaflet-touch .leaflet-control-zoom-in, .leaflet-touch .leaflet-control-zoom-out {
    font-size: 16px;
}

.leaflet-bar a.leaflet-disabled {
    background-color: #444 !important;
    color: #bbb im !important;
}