body {
    padding: 0;
    margin: 0;
    --l: 3.5em;
}

.mask {
    border-radius: 50%;
}

:root {
    --primary_color: #000;
    --secondaryColor: #ffffff;
    --primary_text_color: #ddd;
    --secondary_text_color: #eee;
    --hover: #fdfdfd;
    --clicked: #efefef;
    --background: #ddd;
}
html,
body,
#mapid {
    height: 100%;
    width: 100vw;
}

/* #mapid {
    height: calc(100vh - 100px);
} */
.leaflet-container {
    background: var(--background);
}

.leaflet-tooltip.my-labels {
    background-color: transparent;
    border: transparent;
    box-shadow: none;
}

.leaflet-control-container .leaflet-routing-container-hide {
    display: none;
}

.leaflet-container .leaflet-control-mouseposition {
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 5px #bbb;
    padding: 0 5px;
    margin: 0;
    color: #333;
    font: 11px/1.5 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.popup-marker > .leaflet-popup-tip-container {
    display: none;
}
.popup-marker .leaflet-popup-content {
    margin: 0px 10px;
    text-align: center;
    position: relative;
}


.popup-marker .leaflet-popup-content::after {
    content: "";
    position: absolute;
    top: 100%;
    right: 17px;
    margin-left: -5px;
    border: 9px solid #0000;
    border-top-color: #545f66;
}


.popup-marker > .leaflet-popup-content-wrapper {
    background: #0000007a;
    color: #fff;
    padding: -5px;
}



.mdi {
    /* position: relative;
    top: -12px;
    left: -6px; */
    color: #fff;
}

.control-enabled {
    background: #47a7f5 !important;
}

.control-enabled > a {
    background: #fff;
}

/* .control-enabled .mdi {
    color: #000;
} */

/* for leaflet zoom control */

.leaflet-touch .leaflet-bar {
    border: none;
}

.leaflet-touch .leaflet-bar a {
    width: 20px;
    height: 20px;
    line-height: 19px;
    background: #000;
    color: #fff;
}

.leaflet-touch .leaflet-control-zoom-in,
.leaflet-touch .leaflet-control-zoom-out {
    font-size: 16px;
}

.leaflet-bar a.leaflet-disabled {
    background-color: #444 !important;
    color: #bbb !important;
}

.my-labels {
    color: var(--primary_color);
}

.categories-list {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
    /* padding: auto; */
}

.category-item {
    min-width: 92px;
    min-height: 95px;
    border-radius: 4px;
    background-color: var(--background);
    margin: 0.35rem;
    text-align: center;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    color: #fff;
    cursor: pointer;
}

/* Ripple effect */
.ripple {
    background-position: center;
    transition: background 0.8s;
}
.ripple:hover {
    background: #47a7f5 radial-gradient(circle, transparent 1%, #47a7f5 1%) center/15000%;
}
.ripple:active {
    background-color: #6eb9f7;
    background-size: 100%;
    transition: background 0s;
}

/************************************************/
/* control positioning */

.leaflet-center {
    position: relative !important;
    left: 0;
    right: 0;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.leaflet-center .leaflet-control {
    bottom: 0;
}

.leaflet-control-container .leaflet-control-bottomcenter {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
